.fondo {
   
}
/*.fuente{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(6,87,173,1) 81%, rgba(3,153,216,1) 91%, rgba(2,173,229,1) 94%, rgba(2,173,229,1) 94%, rgba(2,173,229,0.7175245098039216) 94%, rgba(0,212,255,1) 100%);
    font-family: 'Yanone Kaffeesatz', sans-serif;
} */