
main{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

footer{
    background-color: rgb(0, 0, 0);
}

.fuente{
    
    font-family: 'Yanone Kaffeesatz', sans-serif;
}


.footer{
    text-align: center;
}
.redes{
display: flex;    
justify-content: space-evenly;
}
.siguenos{
    font-size: 15px;
    color: white;
}

.bi-facebook{
    font-size: 30px;
    color: rgb(40, 101, 181);
}

.bi-instagram{
    font-size: 30px;
    color: lightsalmon;
}

.bi-youtube{
    font-size: 30px;
    color: red;
}